<a href="/campgrounds">view campgrounds...</a>

<section>
	<h1><%= campground.title %></h1>
	<p><%= campground.location %></p>
  <form action="/campgrounds/<%= campground.id %>" method="POST">
    <button type="submit">Delete</button>
  </form>
</section>
